:root {
    --bg: #f7f7f5;
    --font-color-primary: #1A1A1A;
    --font-color-secondary: #6B6560;
    --emphasis: #DD653A;
    --emphasis-dark: #C24E0E;
}

body{
    background-color: var(--bg);
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

h1 {
    font-family: 'Dela Gothic One', sans-serif;
    font-size: 3.1rem;
    font-weight: 800;
    border-bottom: 2px solid var(--emphasis);
    text-align: center;
}

main {
    max-width: 600px;
}

#infoUser{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-top: 2rem;
    background-color: #ffffff;
    border-radius: 2rem;
    padding: 5rem;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.10);
}

#infoUser p{
        text-align: left;
        font-size: 1.2rem;
        font-weight: 600;
        color: var(--font-color-primary);
}

#infoUser #resultado {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top:1.5rem;
    word-wrap: break-word;
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--emphasis);
}

input {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #bdbebd;
    border-radius: 2rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
    text-align: center;
}

button {
    background-color: var(--emphasis);
    color: #fff;
    border: none;
    border-radius: 2rem;
    padding: 0.8rem 2rem;
    margin: 1rem auto;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    font-weight: 700;
    cursor: pointer;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.10);
}

button:hover {
    background-color: var(--emphasis-dark);
}